body{
    background-color: rgb(248, 248, 248) ;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-orange{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.orange-txt{
    color: #FD6E0A;
    background-color: transparent;
    padding: 19px 23px 18px 24px;
    border-radius: 5px;
    font-size: 20px;
    border-color: #FD6E0A;
    font-weight: bold;
}
.dark2{
    color: #474747;
}
.txt-center{
    text-align: center;
}
/* header */
.sec-back-color{
     background-color: #FFF8F3;
}
.header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* navigation bar*/
#nav-title{
    font-size: 45px;
}
.orange-color{
    color: #FD6E0A;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav li{
    font-weight: normal;
    font-size: 20px;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/*banner*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.bnr-greet{
    font-size: 45px;
    font-weight: 600;
}
.bnr-title{
    font-size: 85px;
    font-weight: bold;
}
.bnr-pic{
    width: 580px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    padding: 130px 150px ;
    text-align: center;
    margin-top:130px ;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
}
.section-dis{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-dis{
    font-weight:600 ;
}
/* Skills */
.skills{
    display: flex;
    gap: 24px;
}
.skill{
    max-width: 267px;
    height: 377px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 30px;
}
.skill-title{
    font-size: 20px;
}
.skill-dis{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}